{% extends 'erudito/old-base.html' %}

{% block title_block %}
    About
{% endblock %}

{% block body_block %}
    <h1>FAQ</h1>

    <h3> What is this website?</h3>
    <p>This is  Quora/Reddit inspired web application to help high school students
    during COVID find resources for online learning, with a forum page to ask questions on subjects.
    </p>
    <hr>
    <h3> What are some of the features of this website? </h3>
    <p>Features of the website include categories to contain subjects.
    Discussion threads on certain topics of the subjects.
    Pages that can include links to other sites that may be of use to students.
    The ability to rate or flag answers and answerers based on their quality and appropriateness respectively.
    Includes an about page to include information on a guide to the website, FAQ's and contact links to ask questions/give suggestions.
    </p>
    <hr>
    <h3> Who created this website?</h3>
    <p>This website was created by University of Glasgow students: Kyle Buchanan, Michael Lordes Richards
    and James McClure.
    </p>
    <hr>
    <h3>How can I get in contact with the admins for the website for questions and ideas</h3>
    <p>Contact helpSupportErudito@gmail.com</p>


{% endblock %}