{% extends 'erudito/base.html' %}

{% block title_block %}
    Home
{% endblock %}

{% block body_block %}

    <main class="px-3">
        <h1>Erudito</h1>
        <p class="lead">Erudito is website specifically designed to help high school students with their studies. Choose your subject and start to read forums on certain questions or ask your own questions...</p>
        <p class="lead">
            <a href="{% url 'eruditoapp:about' %}" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
        </p>
        <p> Here are all our subjects</p>
        {% if subjects %}
            {% for subject in subjects %}
                <a class="btn btn-lg btn-secondary fw-bold border-white bg-white" href="{% url 'eruditoapp:show_subject' subject.slug %}" class="subject-text-colour" >{{ subject.name }}</a>
            {% endfor %}
        {% endif %}
    </main>

{% endblock %}
