{% extends 'erudito/base.html' %}

{% block title_block %}
    Home
{% endblock %}

{% block body_block %}

    <main class="px-3">
        <h1>Erudito</h1>
        <p class="lead">Erudito is website specifically designed to help high school students with their studies. Choose your subject and start to read forums on certain questions or ask your own questions...</p>
        <p class="lead">
            <a href="{% url 'eruditoapp:about' %}" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
        </p>
        {% if subjects %}
        <ul>
            {% for subject in subjects %}
                <li> <a href="{% url 'eruditoapp:show_subject' subject.slug %}"> {{ subject.name }} </a> </li>
            {% endfor %}
        </ul>
        {% endif %}
    </main>

    <p> Our most popular categories</p>
    <p class="lead">
        <a href="{% url 'eruditoapp:about' %}" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Maths</a>
    </p>
    <p class="lead">
        <a href="{% url 'eruditoapp:about' %}" class="btn btn-lg btn-secondary fw-bold border-white bg-white">English</a>
    </p>


    <footer class="mt-auto text-white-50">

    </footer>

{% endblock %}
