{% extends 'erudito/base.html' %}
{% load static %}

{% block title_block %}
    Sign In
{% endblock %}

{% block body_block %}

<body class="text-center">
        <h1>Login</h1>
        <form id="login_form" method="post" action="{% url 'eruditoapp:login' %}">
            {% csrf_token %}
            Username:<br>
            <input class="input-look" type="text" name="username" value="" size="50" />
            <br>
            Password:
            <br>
            <input class="input-look" type="password" name="password" value="" size="50" />
            <br>
            <br>
            <input class="btn  btn-secondary fw-bold border-white bg-white" type="submit" value="Submit" />
        </form>
{% if message %}
<p>{{ message }}</p>
{% endif %}
    <br>
<p class="register-link"> New to Erudito? <a href= "{% url 'eruditoapp:register' %}"> Register here! </a></p>


</body>
{% endblock %}

</html>
