{% extends 'erudito/base.html' %}
{% load static %}

{% block head_block %}
    <link href="{% static 'erudito/signIn.css' %}" rel="stylesheet">
{% endblock %}

{% block title_block %}
    Sign In
{% endblock %}

{% block body_block %}

<body class="text-center">

<main class="form-signin">
  <form id="login_form" method="post" action="{% url 'eruditoapp:login' %}">
      {% csrf_token %}
      Username: <input type="text" name="username" value="" size="50" />
      <br />
      Password: <input type="password" name="password" value="" size="50" />
      <br />
      <input type="submit" value="submit" />
  </form>
</main>
{% if message %}
<p>{{ message }}</p>
{% endif %}

<p class="register-link"> <a href= "{% url 'eruditoapp:register' %}"> New to Erudito? Register here! </a></p>


</body>
{% endblock %}

</html>
