{% extends 'erudito/base.html' %}
{% load static %}


{% block title_block %}
    My Account
    <style>
        component-alignment{
            text-align: unset;
        }
    </style>
{% endblock %}

{% block body_block %}
<div class="my-account-grid">
    <div class="my-account-grid-elements">Profile Picture:<br><img src="{{ user.userprofile.picture.url }}" width="240" height="240"></div>
    <div class="my-account-grid-elements">
        <br>
        <p>Username: {{ user }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Role: {{ user.userprofile.role }}</P>
        <p>Score: {{ user.userprofile.score}}</p>
    </div>
</div>
    <br>
    <a class="btn btn-lg btn-secondary fw-bold border-white bg-white" href="{% url 'eruditoapp:edit' %}" class="subject-text-colour" >Edit Profile</a>
<div class="container">
  <p> User Created Threads: <p>
    {% for thread in threads %}
        <li> <a href="{% url 'eruditoapp:show_thread' thread.subject.slug thread.slug %}"> {{ thread.title }} -- {{ thread.subject }} </a></li>
    {% endfor %}
</div>
{% endblock %}
