{% extends 'erudito/base.html' %}
{% load static %}


{% block title_block %}
    My Account
{% endblock %}

{% block body_block %}
<div class="container"
    <p> username: {{ user }}</p>
    <p>email: {{ user.email }}</p>
    <p>role: {{ user.userprofile.role }}</P>
    <p>score: {{ user.userprofile.score}}</p>
    <p>Profile Picure: </p>
    <img src="{{ user.userprofile.picture.url }}" width="240" height="240">
    <br></br>
    <button type="button"><a href={% url 'eruditoapp:edit' %}>edit profile</button>
</div>

<div class="container">
  <p> user created threads <p>
    {% for thread in threads %}
        <li> <a href="{% url 'eruditoapp:show_thread' thread.subject.slug thread.slug %}"> {{ thread.title }} -- {{ thread.subject }} </a></li>
    {% endfor %}
</div>
{% endblock %}
