{% extends 'erudito/base.html' %}
{% load static %}


{% block title_block %}
    {% if ouser %}
        {{ ouser }}
    {% endif %}
{% endblock %}

{% block body_block %}
    <div class="my-account-grid">
        <div class="my-account-grid-elements">
            Profile Picture:<br> <img src="{{ ouser.userprofile.picture.url }}" width="240" height="240">
        </div>
        <div class="my-account-grid-elements">
            <br>
            <p>Username: {{ ouser }}</p>
            <p>Email: {{ ouser.email }}</p>
            <p>Role: {{ ouser.userprofile.role }}</P>
            <p>Score: {{ ouser.userprofile.score}}</p>
        </div>
    </div>
    <br>
<div class="container">
  <p> user created threads <p>
    {% for thread in threads %}
        <li> <a href="{% url 'eruditoapp:show_thread' thread.subject.slug thread.slug %}"> {{ thread.title }} -- {{ thread.subject }} </a></li>
    {% endfor %}
</div>
{% endblock %}
