{% extends 'erudito/base.html' %}
{% load static %}


{% block title_block %}
    {% if ouser %}
        {{ ouser }}
    {% endif %}
{% endblock %}

{% block body_block %}
<div class="container"
    <p> username: {{ ouser }}</p>
    <p>email: {{ ouser.email }}</p>
    <p>role: {{ ouser.userprofile.role }}</P>
    <p>score: {{ ouser.userprofile.score}}</p>
    <p>Profile Picure: </p>
    <img src="{{ ouser.userprofile.picture.url }}" width="240">
</div>

<div class="container">
  <p> user created threads <p>
    {% for thread in threads %}
        <li> <a href="{% url 'eruditoapp:show_thread' thread.subject.slug thread.slug %}"> {{ thread.title }} -- {{ thread.subject }} </a></li>
    {% endfor %}
</div>
{% endblock %}
