{% extends 'erudito/base.html' %}
{% load static %}


{% block title_block %}
    {% if subject %}
        {{ subject.name }}
    {% endif %}
{% endblock %}

{% block body_block %}

    {# % for thread in threads % #}
    {% for thread, vote in votes %}
    <div>
    <li>{{ thread.title }} <button class="btn btn-sm" type="button"> <a href="{% url 'eruditoapp:show_thread' subject.slug thread.slug %}"><span data-feather="plus-circle"></span> </a> </button></li>
                <strong id="like_count{{ thread.id }}">{{ thread.score }}</strong> likes
                {% if user.is_authenticated %}
                {% if vote %}
                <button id= "threadbtn{{ thread.id }}"
                        data-threadid="{{ thread.id }}"
                        class="thread_like_btn btn btn-primary btn-sm"
                        type="button">

                    <span data-feather="thumbs-up"></span>

                </button>
                <br></br>
                {% endif %}
                {% endif %}
    </div>
    {% endfor %}

    {% if user.is_authenticated %}
    <p><a href= "{% url 'eruditoapp:add_thread' subject.slug %}">Add Thread</a></p>
    {% else %}
    <br/>
        <p><a href= "useful-resources.html">Useful Resources</a></p>
    <p> To create a thread you must <a href= "{% url 'eruditoapp:login' %}">Login</a></p>
    <p> Don't have an account <a href= "{% url 'eruditoapp:register' %}">Sign Up</a></p>
    {% endif %}
{% endblock %}


{#<li> <a href="{% url 'eruditoapp:show_thread' subject.slug thread.slug %}"> {{ thread.title }} -- {{ thread.score }} </a></li>#}
