{% extends 'erudito/base.html' %}
{% load static %}


{% block title_block %}
    {% if subject %}
        {{ subject.name }}
    {% endif %}
{% endblock %}

{% block body_block %}
    <p>Search for threads here</p>
    <form name="search-bar" method="get" action="{% url 'eruditoapp:search' subject.slug %}" >
{#        {% csrf_token %}#}
        <input type="text" name="search" placeholder="Search" />
        <button><a href="{% url 'eruditoapp:search' subject.slug %}"></a>Search</button>
    </form>
    <br>
    Sort by:
    <a class="btn btn-lg btn-secondary fw-bold border-black" href= "{% url 'eruditoapp:show_subject' subject.slug '-date' %}">Most Recent</a>
    <a class="btn btn-lg btn-secondary fw-bold border-black" href= "{% url 'eruditoapp:show_subject' subject.slug '-score' %}">Most Popular</a>

    {% if user.is_authenticated %}
        {% for thread, vote in votes %}
        <div>
            <a href="{% url 'eruditoapp:show_thread' subject.slug thread.slug %}" class="btn btn-lg btn-secondary fw-bold border-white subject-thread-presentation">{{ thread.title }}
            <br><p class="subject-thread-body">{{ thread.body|truncatechars:150 }}</p></a><br>
            <strong id="like_count_thread{{ thread.id }}">{{ thread.score }} </strong> likes
            
            
            {% if vote == 'liked' %}
                    <button style="display: none" id= "threadbtn{{ thread.id }}"
                            data-threadid="{{ thread.id }}"
                            class="thread_like_btn btn btn-primary btn-sm"
                            type="button">
    
                        <span data-feather="thumbs-up"></span>
                    </button>
                    <button id="thread_dislike{{ thread.id }}"
                            data-threadid="{{ thread.id }}"
                            class="thread_dislike_btn btn btn-primary btn-sm"
                            type="button">
                            <span data-feather="thumbs-down"></span>
                    </button>
          
            {% else %}
                <button id= "threadbtn{{ thread.id }}"
                            data-threadid="{{ thread.id }}"
                            class="thread_like_btn btn btn-primary btn-sm"
                            type="button">
    
                        <span data-feather="thumbs-up"></span>
                </button>
                <button style="display: none" id="thread_dislike{{ thread.id }}"
                            data-threadid="{{ thread.id }}"
                            class="thread_dislike_btn btn btn-primary btn-sm"
                            type="button">
                            <span data-feather="thumbs-down"></span>
                </button>
                
            {% endif %}
                  
                <a class="btn btn-primary btn-sm" href="{% url 'eruditoapp:report_thread' subject.slug thread.slug %}">
                    <span data-feather="flag"></span>
                </a>

        </div>
            <br>
        {% endfor %}
        <p><a href= "{% url 'eruditoapp:add_thread' subject.slug %}">Add Thread</a></p>




    {% else %}
        {% for thread in threads %}
            <a href="{% url 'eruditoapp:show_thread' subject.slug thread.slug %}" class="btn btn-lg btn-secondary fw-bold border-white subject-thread-presentation">{{ thread.title }}
            <br><p class="subject-thread-body">{{ thread.body|truncatechars:150 }}</p></a><br>
            <strong id="like_count_thread{{ thread.id }}">{{ thread.score }} </strong> likes <br>     
        {% endfor %}
        
        <p> To create a thread or like you must <a href= "{% url 'eruditoapp:login' %}">log in</a></p>
        <p> Don't have an account? <a href= "{% url 'eruditoapp:register' %}">Sign Up</a></p>
    {% endif %}

    <p><a href= "{% url 'eruditoapp:useful_resources' subject.slug %}">Useful Resources</a></p>
    
    <input hidden id="refresh" value="no">
{% endblock %}


{#<li> <a href="{% url 'eruditoapp:show_thread' subject.slug thread.slug %}"> {{ thread.title }} -- {{ thread.score }} </a></li>#}


{#old link#}
{#<li><a href="{% url 'eruditoapp:show_thread' subject.slug thread.slug %}">{{ thread.title }} </a> </li>#}
