{% extends 'erudito/base.html' %}
{% load static %}


{% block title_block %}
    Subjects
{% endblock %}

{% block body_block %}
    
    {% if subjects %}
    <ul>
        {% for subject in subjects %}
            <p class="lead">
                <a href="{% url 'eruditoapp:show_subject' subject.slug %}" class="btn btn-lg btn-secondary fw-bold border-white bg-white">{{ subject.name }}</a>
            </p>
        {% endfor %}
    </ul>
    {% endif %}

{% endblock %}


{#Below is orginal display for subjects#}
{#<li> <a href="{% url 'eruditoapp:show_subject' subject.slug %}"> {{ subject.name }} </a> </li>#}

