{% extends 'erudito/base.html' %}
{% load static %}


{% block title_block %}
    Subjects
{% endblock %}

{% block body_block %}

    <p id="subject-header">Our available subjects</p>
    
    {% if subjects %}
    <ul>
        {% for subject in subjects %}
            <button class="btn btn-lg btn-secondary fw-bold border-white bg-white"><a href="{% url 'eruditoapp:show_subject' subject.slug %}" >{{ subject.name }}</a></button>
        {% endfor %}
    </ul>
    {% endif %}

    <br/>
    Think we need to add more subjects? Email us at helpSupportErudito@gmail.com if you have any suggestions, we would love to hear them!

{% endblock %}


{#Below is orginal display for subjects#}
{#<li> <a href="{% url 'eruditoapp:show_subject' subject.slug %}"> {{ subject.name }} </a> </li>#}

