{% extends 'erudito/base.html' %}
{% load static %}


{% block title_block %}
    {{ thread.title }}
{% endblock %}

{% block body_block %}
    <p><a class= "btn btn-lg btn-secondary fw-bold border-black" href= "{% url 'eruditoapp:show_subject' subject.slug %}"> Back to: {{ subject.name }} </a></p>
    <div>
        <h1> {{ thread.title }} </h1>
        <p><img src="{{ thread.user.userprofile.picture.url }}" width="40" height="40"> <a href= "{% url 'eruditoapp:user' thread.user %}">{{ thread.user }} </a> asks : </p>
        <p>{{ thread.body }}</p>
    </div>
    <div>
    <h1> Comments </h1>
    {% if comments %}
    <ul>
        {% if user.is_authenticated %}
            {% for comment, vote in votes %}
                <p><img src="{{ comment.user.userprofile.picture.url }}" width="40" height="40"><a href= "{% url 'eruditoapp:user' comment.user %}">{{ comment.user }} </a> <p>  {{ comment.body }} </p> </p>
                <div>
                    <strong id="like_count{{ comment.id }}">{{ comment.score }}</strong> likes
                    
                    
                        
                    {% if vote == 'liked' %}
                    <button style= "display: none" id="like_btn{{ comment.id }}"
                                data-commentid="{{ comment.id }}"
                                class="comment_like_btn btn btn-primary btn-sm"
                                type="button">
                            <span data-feather="thumbs-up"></span>
                    </button>
                    
                    <button id="dislike_btn{{ comment.id }}"
                            data-commentid="{{ comment.id }}"
                            class="comment_dislike_btn btn btn-primary btn-sm"
                            type="button">
    
                        <span data-feather="thumbs-down"></span>
                    
    
                    </button>
                    {% else %}
                        <button id="like_btn{{ comment.id }}"
                                data-commentid="{{ comment.id }}"
                                class="comment_like_btn btn btn-primary btn-sm"
                                type="button">
                            <span data-feather="thumbs-up"></span>
                        </button>
                        <button style= "display: none" id="dislike_btn{{ comment.id }}"
                            data-commentid="{{ comment.id }}"
                            class="comment_dislike_btn btn btn-primary btn-sm"
                            type="button">
                        <span data-feather="thumbs-down"></span>
                        </button>
                    
                    {% endif %}
                    <a class="btn btn-primary btn-sm" href="{% url 'eruditoapp:report_thread' subject.slug thread.slug comment.id %}">
                    <span data-feather="flag"></span>
                </a>
                </div>
            {% endfor %}
        {% else %}
            {% for comment in comments %}
                <p><img src="{{ comment.user.userprofile.picture.url }}" width="40" height="40"><a href= "{% url 'eruditoapp:user' comment.user %}">{{ comment.user }} </a> <p>  {{ comment.body }} </p> </p>
                    <strong id="like_count{{ comment.id }}">{{ comment.score }}</strong> likes
            {% endfor %}
            
        {% endif %}
    </ul>
    {% else %}
        There are no comments yet.
    {% endif %}
    </div>
    {% if user.is_authenticated %}
    <p> <a href="{% url 'eruditoapp:add_comment' subject.slug thread.slug %}"> Add Comment! </a></p>
    {% else %}
    <br/>
    <p> To add a comment or like you must <a href= "{% url 'eruditoapp:login' %}">log in</a></p>
    <p> Don't have an account? <a href= "{% url 'eruditoapp:register' %}">Sign Up</a></p>
    {% endif %}
    
    <input hidden id="refresh" value="no">

{% endblock %}
