{% extends 'erudito/base.html' %}
{% load static %}


{% block title_block %}
    {{ thread.title }}
{% endblock %}

{% block body_block %}
    <div>
        <h1> {{ thread.title }} </h1>
        <p><img src="{{ thread.user.userprofile.picture.url }}" width="40" height="40"> <a href= "{% url 'eruditoapp:user' thread.user %}">{{ thread.user }} </a> ask's : </p>
        <p>{{ thread.body }}</p>
    </div>
    <div>
    <h1> Comments </h1>
    {% if comments %}
    <ul>
        {% for comment in comments %}
            <p><img src="{{ comment.user.userprofile.picture.url }}" width="40" height="40"><a href= "{% url 'eruditoapp:user' comment.user %}">{{ comment.user }} </a> <p>  {{ comment.body }} </p> </p>
            <div>
                <strong id="like_count">{{ comment.score }}</strong> likes
                {% if user.is_authenticated %}
                <button id="like_btn"
                        data-commentid="{{ comment.id }}"
                        class="btn btn-primary btn-sm"
                        type="button">

                    <span data-feather="thumbs-up"></span>

                </button>
                <br></br>
                {% endif %}
            </div>
        {% endfor %}
    </ul>
    {% else %}
        There are no comments yet.
    {% endif %}
    </div>
    {% if user.is_authenticated %}
    <p> <a href="{% url 'eruditoapp:add_comment' subject.slug thread.slug %}"> Add Comment! </a></p>
    {% else %}
    <br/>
    <p> To create a comment you must <a href= "{% url 'eruditoapp:login' %}">Login</a></p>
    <p> Don't have an account <a href= "{% url 'eruditoapp:register' %}">Sign Up</a></p>
    {% endif %}
{% endblock %}
