{% extends 'erudito/base.html' %}
{% load static %}


{% block title_block %}
    {{ thread.title }}
{% endblock %}

{% block body_block %}
    <div>
        <h1> {{ thread.title }} </h1>
        <p><a href= "{% url 'eruditoapp:user' thread.user %}">{{ thread.user }} </a> </p> ask's :
        <br>{{ thread.body }}</p>
    </div>
    <div>
    <h1> Comments </h1>
    {% if comments %}
    <ul>
        {% for comment in comments %}
            <li class="row"><a href= "{% url 'eruditoapp:user' comment.user %}">{{ comment.user }} </a>  -- {{ comment.body }} -- {{ comment.score }} </li>
            <div>
                <strong id="like_count">{{ thread.likes }}</strong> likes
                {#                {% if user.is_authenticated %}#}
                <button id="like_btn"
                        data-commentid=" {{ comment.id }}"
                        class="btn btn-primary btn-sm"
                        type="button">
                    <span data-feather="thumbs-up"></span>
                    Like Comment
                </button>
                {#                {% endif %}#}
            </div>
        {% endfor %}
    </ul>
    {% else %}
        There are no comments yet.
    {% endif %}
    </div>
    {% if user.is_authenticated %}
    <p> <a href="{% url 'eruditoapp:add_comment' subject.slug thread.slug %}"> Add Comment! </a></p>
    {% else %}
    <br></br>
    <p> To create a comment you must <a href= "{% url 'eruditoapp:login' %}">Login</a></p>
    <p> Don't have an account <a href= "{% url 'eruditoapp:register' %}">Sign Up</a></p>
    {% endif %}
{% endblock %}
