{% extends 'erudito/base.html' %}
{% load static %}

{% block title_block %}
    {% if subject %}
        Resources for {{ subject.name }}
    {% endif %}

{% endblock %}

{% block body_block %}
    Below are the Useful links for {{ subject.name }}:
    <br/>
    {% for resource in resources %}
        <li>{{ resource.body }}: <a href="{{ resource.url }}">{{ resource.url }}</a> </li>
    {% endfor %}

    <br>
    <p>Think we're missing something? Email us at Contact eruditohelp@gmail.com
        for some suggestions.</p>

{% endblock %}
